html {
    scroll-behavior: smooth;
	font-size: 62.5%
}

body {
    background-color: #5e606c;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-width: 100%;
    height: 100vh;
    padding: 5rem;
}

/* Images */

.img-wrap {
    width: calc( 100vmin - 15.2rem );
    height: calc( 100% - 8.5rem );
    margin-bottom: 2rem;
    background: #e8d8c9;
    border-radius: 1rem;
    overflow: hidden;
}

.slide {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.img-1 {
    background-image: url("../assets/img/meme-1.png");
}

.img-2 {
    background-image: url("../assets/img/meme-2.jpg");
}

.img-3 {
    background-image: url("../assets/img/meme-3.png");
}

.img-4 {
    background-image: url("../assets/img/meme-4.jpg");
}

/* Text */

.text-wrap {
    height: 3.2rem;
    font-family: "Handjet", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    order: -1;
    overflow: hidden;
}

.label {
    display: block;
}

/* Controls */

.controls-wrap {
    display: flex;
    justify-content: space-between;
    order: 1;
}

.standard-controls {
    display: flex;
    gap: 0.1rem;
    transform: translateY(-70%);
}

.standard-control-item {
    width: 3.55rem;
    height: 4rem;
    margin: 0;
    cursor: pointer;
    appearance: none;
}

.custom-controls {
    display: flex;
    gap: 1.5rem;
}

.custom-control-item {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    border: .4rem solid #e4babe;
    background-color: #e4babe;
    border-radius: 100%;
    transition: .3s;
    cursor: pointer;
}

/* Slider Interactivity */

.controls-wrap ~ .img-wrap > .slide {
    opacity: 0;
}

.controls ~ .text-wrap > .label {
    opacity: 0;
}

/* Choose First Slide */

.controls-wrap:has(#slide-1:checked) ~ .img-wrap > .img-1 {
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-1:checked) ~ .text-wrap > .label.slide-1 {
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-1:checked) > .custom-controls > .custom-control-item:first-child {
    background-color: transparent;
}

/* Choose Second Slide */

.controls-wrap:has(#slide-2:checked) ~ .img-wrap > .img-2 {
    transform: translateY(-100%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-2:checked) ~ .text-wrap > .label.slide-2 {
    transform: translateY(-100%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-2:checked) > .custom-controls > .custom-control-item:nth-child(2) {
    background-color: transparent;
}

/* Choose Third Slide */

.controls-wrap:has(#slide-3:checked) ~ .img-wrap > .img-3 {
    transform: translateY(-200%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-3:checked) ~ .text-wrap > .label.slide-3 {
    transform: translateY(-200%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-3:checked) > .custom-controls > .custom-control-item:nth-child(3) {
    background-color: transparent;
}

/* Choose Fourth Slide */

.controls-wrap:has(#slide-4:checked) ~ .img-wrap > .img-4 {
    transform: translateY(-300%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-4:checked) ~ .text-wrap > .label.slide-4 {
    transform: translateY(-300%);
    transition: opacity .7s;
    opacity: 1;
}

.controls:has(#slide-4:checked) > .custom-controls > .custom-control-item:last-child {
    background-color: transparent;
}

/* Control-Items on Hover */
/* Non-Active Controls on Hover */

.controls:has(#slide-1:hover) > .custom-controls > .custom-control-item:first-child {
    border-color: #fcf1ef;
    background-color: #fcf1ef;
}

.controls:has(#slide-2:hover) > .custom-controls > .custom-control-item:nth-child(2) {
    border-color: #fcf1ef;
    background-color: #fcf1ef;
}

.controls:has(#slide-3:hover) > .custom-controls > .custom-control-item:nth-child(3) {
    border-color: #fcf1ef;
    background-color: #fcf1ef;
}

.controls:has(#slide-4:hover) > .custom-controls > .custom-control-item:last-child {
    border-color: #fcf1ef;
    background-color: #fcf1ef;
}

/* Active Controls on Hover */

.controls:has(#slide-1:checked:hover) > .custom-controls > .custom-control-item:first-child {
    border-color: #fcf1ef;
    background-color: transparent;
}

.controls:has(#slide-2:checked:hover) > .custom-controls > .custom-control-item:nth-child(2) {
    border-color: #fcf1ef;
    background-color: transparent;
}

.controls:has(#slide-3:checked:hover) > .custom-controls > .custom-control-item:nth-child(3) {
    border-color: #fcf1ef;
    background-color: transparent;
}

.controls:has(#slide-4:checked:hover) > .custom-controls > .custom-control-item:last-child {
    border-color: #fcf1ef;
    background-color: transparent;
}